aiogram==2.13
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
bip32utils==0.3.post4
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
colored==1.4.2
ecdsa==0.16.1
emoji==1.2.0
greenlet==1.1.0
idna==2.10
imutils==0.5.4
mnemonic==0.19
multidict==5.1.0
numpy==1.20.3
opencv-python==4.5.2.52
pytz==2021.1
requests==2.25.1
six==1.16.0
SQLAlchemy==1.4.15
sty==1.0.0rc1
termcolor==1.1.0
typing-extensions==3.10.0.0
urllib3==1.26.4
yarl==1.6.3
